In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import os
import holidays
import datetime as dt
os.getcwd()

'/Users/miek/Documents/DS4B/DS4BThesisSNCB'

In [2]:
stops = pd.read_parquet("~/Downloads/all_stops_ungrouped/all_stops_ungrouped.parquet")
stops

,REF_TOD_TRAIN_ID,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,EH_ARR,...,season,weekend,holiday,dep_hour_origin,day_origin,date_origin,start_lifetime,end_lifetime,arr_hour_terminus,p_indicator
0,31520427,2067,2022-11-23,6,124,2022-11-23 18:54:00,1900-01-01 00:00:00,2022-11-23 18:53:24,1900-01-01 00:00:00,-35,...,Fall,0.0,0.0,17.916667,23.0,2022-11-23,2022-11-23 17:55:00,2022-11-23 18:54:00,18.900000,0
1,31646284,2673,2022-12-12,1840,102,2022-12-12 23:21:00,2022-12-12 23:21:00,2022-12-12 23:21:51,2022-12-12 23:21:51,51,...,Winter,0.0,0.0,23.316667,12.0,2022-12-12,2022-12-12 23:19:00,2022-12-12 23:50:00,23.833333,0
2,30430608,2835,2022-06-05,518,133,2022-06-05 15:09:00,2022-06-05 15:09:00,2022-06-05 15:09:01,2022-06-05 15:09:01,1,...,Summer,1.0,1.0,13.950000,5.0,2022-06-05,2022-06-05 13:57:00,2022-06-05 15:54:00,15.900000,0
3,31239066,2169,2022-10-17,883,104,2022-10-17 19:45:00,2022-10-17 19:45:00,2022-10-17 19:44:59,2022-10-17 19:44:59,0,...,Fall,0.0,0.0,19.616667,17.0,2022-10-17,2022-10-17 19:37:00,2022-10-17 20:31:00,20.516667,0
4,30285266,1827,2022-05-12,37,101,1900-01-01 00:00:00,2022-05-12 06:06:00,1900-01-01 00:00:00,2022-05-12 06:13:37,0,...,Spring,0.0,0.0,6.100000,12.0,2022-05-12,2022-05-12 06:06:00,2022-05-12 07:49:00,7.816667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34001818,32467093,4692,2023-05-03,848,114,2023-05-03 22:08:00,1900-01-01 00:00:00,2023-05-03 22:08:57,1900-01-01 00:00:00,57,...,Spring,0.0,0.0,21.383333,3.0,2023-05-03,2023-05-03 21:23:00,2023-05-03 22:08:00,22.133333,0
34001819,32466051,2409,2023-05-03,734,172,2023-05-03 11:41:00,1900-01-01 00:00:00,2023-05-03 11:46:04,1900-01-01 00:00:00,304,...,Spring,0.0,0.0,9.050000,3.0,2023-05-03,2023-05-03 09:03:00,2023-05-03 11:41:00,11.683333,0
34001820,32420846,7868,2023-04-25,848,114,2023-04-25 07:53:00,1900-01-01 00:00:00,2023-04-25 07:56:48,1900-01-01 00:00:00,228,...,Spring,0.0,0.0,6.966667,25.0,2023-04-25,2023-04-25 06:58:00,2023-04-25 07:53:00,7.883333,1
34001821,32420498,6059,2023-04-25,723,121,2023-04-25 11:47:00,1900-01-01 00:00:00,2023-04-25 11:44:48,1900-01-01 00:00:00,-131,...,Spring,0.0,0.0,9.866667,25.0,2023-04-25,2023-04-25 09:52:00,2023-04-25 11:47:00,11.783333,0
34001822,32463401,19726,2023-05-03,868,106,2023-05-03 19:23:00,2023-05-03 19:30:00,2023-05-03 19:22:40,2023-05-03 19:30:16,-19,...,Spring,0.0,0.0,19.216667,3.0,2023-05-03,2023-05-03 19:13:00,2023-05-03 19:33:00,19.550000,0

In [3]:
stops.columns

Index(['REF_TOD_TRAIN_ID', 'TRAIN_NUMBER', 'TRAIN_DEPARTURE_DATE',
       'REF_PTCAR_NO', 'PTCAR_ORD_NO', 'THR_ARR', 'THR_DEP', 'HR_ARR',
       'HR_DEP', 'EH_ARR', 'EH_DEP', 'COMMERCIAL_STOP_NATURE',
       'DEPARTURE_REF_LINE_SECTION_NO', 'LINE', 'IDENTIFICATOR', 'YEAR_DEP',
       'month', 'season', 'weekend', 'holiday', 'dep_hour_origin',
       'day_origin', 'date_origin', 'start_lifetime', 'end_lifetime',
       'arr_hour_terminus', 'p_indicator'],
      dtype='object')

In [4]:
# Create DataFrames for each time period
stops_pre_covid = stops[stops['date_origin'] < pd.to_datetime('2020-03-18')].reset_index()
stops_pre_covid = stops_pre_covid.drop(columns='index')

stops_during_covid = stops[(stops['date_origin'] >= pd.to_datetime('2020-03-18')) & (stops['date_origin'] <= pd.to_datetime('2022-05-11'))].reset_index()
stops_during_covid = stops_during_covid.drop(columns='index')

stops_post_covid = stops[stops['date_origin'] > pd.to_datetime('2022-05-11')].reset_index()
stops_post_covid = stops_post_covid.drop(columns='index')

In [5]:
stops_during_covid

,REF_TOD_TRAIN_ID,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,EH_ARR,...,season,weekend,holiday,dep_hour_origin,day_origin,date_origin,start_lifetime,end_lifetime,arr_hour_terminus,p_indicator
0,26482881,5381,2020-10-21,349,3,2020-10-21 09:58:00,2020-10-21 09:58:00,1900-01-01 00:00:00,2020-10-21 09:58:41,0,...,Fall,0.0,0.0,9.800000,21.0,2020-10-21,2020-10-21 09:48:00,2020-10-21 11:23:00,11.383333,0
1,26482881,5381,2020-10-21,777,2,2020-10-21 09:52:00,2020-10-21 09:52:00,1900-01-01 00:00:00,2020-10-21 09:51:30,0,...,Fall,0.0,0.0,9.800000,21.0,2020-10-21,2020-10-21 09:48:00,2020-10-21 11:23:00,11.383333,0
2,26486098,5056,2020-10-21,769,1,1900-01-01 00:00:00,2020-10-21 06:50:00,1900-01-01 00:00:00,2020-10-21 06:50:12,0,...,Fall,0.0,0.0,6.833333,21.0,2020-10-21,2020-10-21 06:50:00,2020-10-21 07:25:00,7.416667,0
3,26485388,4723,2020-10-21,769,1,1900-01-01 00:00:00,2020-10-21 23:20:00,1900-01-01 00:00:00,2020-10-21 23:20:21,0,...,Fall,0.0,0.0,23.333333,21.0,2020-10-21,2020-10-21 23:20:00,2020-10-21 23:55:00,23.916667,0
4,26483906,9692,2020-10-21,88,1,1900-01-01 00:00:00,2020-10-21 05:55:00,1900-01-01 00:00:00,2020-10-21 05:55:02,0,...,Fall,0.0,0.0,5.916667,21.0,2020-10-21,2020-10-21 05:55:00,2020-10-21 09:17:00,9.283333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28844030,27231495,3027,2021-02-22,1088,126,2021-02-22 06:42:00,2021-02-22 06:44:00,2021-02-22 06:41:31,2021-02-22 06:44:23,-29,...,Winter,0.0,0.0,4.866667,22.0,2021-02-22,2021-02-22 04:52:00,2021-02-22 07:09:00,7.150000,0
28844031,27413903,723,2021-03-24,1088,117,2021-03-25 00:00:00,2021-03-25 00:02:00,2021-03-24 23:59:44,2021-03-25 00:02:45,-16,...,Spring,0.0,0.0,23.616667,24.0,2021-03-24,2021-03-24 23:37:00,2021-03-25 00:33:00,0.550000,0
28844032,27228803,1819,2021-02-22,1088,131,2021-02-22 20:24:00,2021-02-22 20:27:00,2021-02-22 20:23:57,2021-02-22 20:26:55,-3,...,Winter,0.0,0.0,19.166667,22.0,2021-02-22,2021-02-22 19:10:00,2021-02-22 20:54:00,20.900000,0
28844033,27230130,739,2021-02-22,1088,132,2021-02-22 18:58:00,2021-02-22 19:00:00,2021-02-22 18:57:08,2021-02-22 19:00:09,-52,...,Winter,0.0,0.0,17.116667,22.0,2021-02-22,2021-02-22 17:07:00,2021-02-22 19:23:00,19.383333,0
28844034,26975184,411,2021-01-12,221,128,2021-01-12 12:37:00,2021-01-12 12:40:00,2021-01-12 12:36:30,2021-01-12 12:40:15,-30,...,Winter,0.0,0.0,11.316667,12.0,2021-01-12,2021-01-12 11:19:00,2021-01-12 14:12:00,14.200000,0

In [5]:
# make parquets
stops_pre_covid.to_parquet("~/Downloads/all_stops_ungrouped/all_stops_pre_covid.parquet")
stops_during_covid.to_parquet("~/Downloads/all_stops_ungrouped/all_stops_during_covid.parquet")
stops_post_covid.to_parquet("~/Downloads/all_stops_ungrouped/all_stops_post_covid.parquet")