In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import os
import holidays
import datetime as dt
os.getcwd()

'/Users/miek/Documents/DS4B/DS4BThesisSNCB'

In [2]:
stops = pd.read_parquet("~/Downloads/all_stops_ungrouped/comm_stops_ungrouped.parquet")
stops

,REF_TOD_TRAIN_ID,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,EH_ARR,...,season,weekend,holiday,dep_hour_origin,day_origin,date_origin,start_lifetime,end_lifetime,arr_hour_terminus,p_indicator
0,22956975,2967,2019-02-28,37,101,1900-01-01 00:00:00,2019-02-28 17:24:00,1900-01-01 00:00:00,2019-02-28 17:24:28,0,...,Winter,0.0,0.0,17.400000,28.0,2019-02-28,2019-02-28 17:24:00,2019-02-28 18:25:00,18.416667,0
1,23030624,2968,2019-03-13,37,101,1900-01-01 00:00:00,2019-03-13 18:24:00,1900-01-01 00:00:00,2019-03-13 18:24:25,0,...,Spring,0.0,0.0,18.400000,13.0,2019-03-13,2019-03-13 18:24:00,2019-03-13 19:25:00,19.416667,0
2,22787493,3343,2019-01-30,37,101,1900-01-01 00:00:00,2019-01-30 22:38:00,1900-01-01 00:00:00,2019-01-30 22:38:35,0,...,Winter,0.0,0.0,22.633333,30.0,2019-01-30,2019-01-30 22:38:00,2019-01-30 23:33:00,23.550000,0
3,22957754,2868,2019-02-28,37,101,1900-01-01 00:00:00,2019-02-28 18:57:00,1900-01-01 00:00:00,2019-02-28 18:57:24,0,...,Winter,0.0,0.0,18.950000,28.0,2019-02-28,2019-02-28 18:57:00,2019-02-28 20:02:00,20.033333,0
4,22804611,5944,2019-02-01,641,5,2019-02-01 00:20:00,2019-02-01 00:22:00,2019-02-01 00:20:41,2019-02-01 00:22:41,41,...,Winter,0.0,0.0,0.016667,1.0,2019-02-01,2019-02-01 00:01:00,2019-02-01 00:30:00,0.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58298859,31329661,2627,2022-10-28,715,117,2022-10-28 06:13:00,2022-10-28 06:24:00,2022-10-28 06:13:49,2022-10-28 06:24:16,49,...,Fall,0.0,0.0,5.616667,28.0,2022-10-28,2022-10-28 05:37:00,2022-10-28 07:12:00,7.200000,0
58298860,31325182,2131,2022-10-28,70,103,2022-10-28 08:31:00,2022-10-28 08:36:00,2022-10-28 08:28:29,2022-10-28 08:36:30,-150,...,Fall,0.0,0.0,8.600000,28.0,2022-10-28,2022-10-28 08:36:00,2022-10-28 11:28:00,11.466667,0
58298861,31326770,5468,2022-10-28,726,106,2022-10-28 19:02:00,2022-10-28 19:06:00,2022-10-28 19:28:05,2022-10-28 19:29:49,1565,...,Fall,0.0,0.0,18.650000,28.0,2022-10-28,2022-10-28 18:39:00,2022-10-28 19:23:00,19.383333,0
58298862,31330053,555,2022-10-28,455,115,2022-10-28 06:12:00,2022-10-28 06:19:00,2022-10-28 06:14:13,2022-10-28 06:19:58,133,...,Fall,0.0,0.0,5.516667,28.0,2022-10-28,2022-10-28 05:31:00,2022-10-28 07:28:00,7.466667,0
58298863,31329980,5561,2022-10-28,726,107,2022-10-28 12:11:00,2022-10-28 12:16:00,2022-10-28 12:11:33,2022-10-28 12:16:51,33,...,Fall,0.0,0.0,11.766667,28.0,2022-10-28,2022-10-28 11:46:00,2022-10-28 13:23:00,13.383333,0

In [3]:
stops.columns

Index(['REF_TOD_TRAIN_ID', 'TRAIN_NUMBER', 'TRAIN_DEPARTURE_DATE',
       'REF_PTCAR_NO', 'PTCAR_ORD_NO', 'THR_ARR', 'THR_DEP', 'HR_ARR',
       'HR_DEP', 'EH_ARR', 'EH_DEP', 'COMMERCIAL_STOP_NATURE',
       'DEPARTURE_REF_LINE_SECTION_NO', 'LINE', 'IDENTIFICATOR', 'YEAR_DEP',
       'month', 'season', 'weekend', 'holiday', 'dep_hour_origin',
       'day_origin', 'date_origin', 'start_lifetime', 'end_lifetime',
       'arr_hour_terminus', 'p_indicator'],
      dtype='object')

In [4]:
# Create DataFrames for each time period
stops_pre_covid = stops[stops['date_origin'] < pd.to_datetime('2020-03-18')].reset_index()
stops_pre_covid = stops_pre_covid.drop(columns='index')

stops_during_covid = stops[(stops['date_origin'] >= pd.to_datetime('2020-03-18')) & (stops['date_origin'] <= pd.to_datetime('2022-05-11'))].reset_index()
stops_during_covid = stops_during_covid.drop(columns='index')

stops_post_covid = stops[stops['date_origin'] > pd.to_datetime('2022-05-11')].reset_index()
stops_post_covid = stops_post_covid.drop(columns='index')

In [5]:
stops_during_covid

,REF_TOD_TRAIN_ID,TRAIN_NUMBER,TRAIN_DEPARTURE_DATE,REF_PTCAR_NO,PTCAR_ORD_NO,THR_ARR,THR_DEP,HR_ARR,HR_DEP,EH_ARR,...,season,weekend,holiday,dep_hour_origin,day_origin,date_origin,start_lifetime,end_lifetime,arr_hour_terminus,p_indicator
0,26482881,5381,2020-10-21,349,3,2020-10-21 09:58:00,2020-10-21 09:58:00,1900-01-01 00:00:00,2020-10-21 09:58:41,0,...,Fall,0.0,0.0,9.800000,21.0,2020-10-21,2020-10-21 09:48:00,2020-10-21 11:23:00,11.383333,0
1,26482881,5381,2020-10-21,777,2,2020-10-21 09:52:00,2020-10-21 09:52:00,1900-01-01 00:00:00,2020-10-21 09:51:30,0,...,Fall,0.0,0.0,9.800000,21.0,2020-10-21,2020-10-21 09:48:00,2020-10-21 11:23:00,11.383333,0
2,26486098,5056,2020-10-21,769,1,1900-01-01 00:00:00,2020-10-21 06:50:00,1900-01-01 00:00:00,2020-10-21 06:50:12,0,...,Fall,0.0,0.0,6.833333,21.0,2020-10-21,2020-10-21 06:50:00,2020-10-21 07:25:00,7.416667,0
3,26485388,4723,2020-10-21,769,1,1900-01-01 00:00:00,2020-10-21 23:20:00,1900-01-01 00:00:00,2020-10-21 23:20:21,0,...,Fall,0.0,0.0,23.333333,21.0,2020-10-21,2020-10-21 23:20:00,2020-10-21 23:55:00,23.916667,0
4,26483906,9692,2020-10-21,88,1,1900-01-01 00:00:00,2020-10-21 05:55:00,1900-01-01 00:00:00,2020-10-21 05:55:02,0,...,Fall,0.0,0.0,5.916667,21.0,2020-10-21,2020-10-21 05:55:00,2020-10-21 09:17:00,9.283333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28844030,27231495,3027,2021-02-22,1088,126,2021-02-22 06:42:00,2021-02-22 06:44:00,2021-02-22 06:41:31,2021-02-22 06:44:23,-29,...,Winter,0.0,0.0,4.866667,22.0,2021-02-22,2021-02-22 04:52:00,2021-02-22 07:09:00,7.150000,0
28844031,27413903,723,2021-03-24,1088,117,2021-03-25 00:00:00,2021-03-25 00:02:00,2021-03-24 23:59:44,2021-03-25 00:02:45,-16,...,Spring,0.0,0.0,23.616667,24.0,2021-03-24,2021-03-24 23:37:00,2021-03-25 00:33:00,0.550000,0
28844032,27228803,1819,2021-02-22,1088,131,2021-02-22 20:24:00,2021-02-22 20:27:00,2021-02-22 20:23:57,2021-02-22 20:26:55,-3,...,Winter,0.0,0.0,19.166667,22.0,2021-02-22,2021-02-22 19:10:00,2021-02-22 20:54:00,20.900000,0
28844033,27230130,739,2021-02-22,1088,132,2021-02-22 18:58:00,2021-02-22 19:00:00,2021-02-22 18:57:08,2021-02-22 19:00:09,-52,...,Winter,0.0,0.0,17.116667,22.0,2021-02-22,2021-02-22 17:07:00,2021-02-22 19:23:00,19.383333,0
28844034,26975184,411,2021-01-12,221,128,2021-01-12 12:37:00,2021-01-12 12:40:00,2021-01-12 12:36:30,2021-01-12 12:40:15,-30,...,Winter,0.0,0.0,11.316667,12.0,2021-01-12,2021-01-12 11:19:00,2021-01-12 14:12:00,14.200000,0

In [6]:
# make parquets
stops_pre_covid.to_parquet("~/Downloads/all_stops_ungrouped/comm_stops_pre_covid.parquet")
stops_during_covid.to_parquet("~/Downloads/all_stops_ungrouped/comm_stops_during_covid.parquet")
stops_post_covid.to_parquet("~/Downloads/all_stops_ungrouped/comm_stops_post_covid.parquet")